[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"
"newspaper3k" = "*"
newsapi = "*"
newsapi-python = "*"
pandas = "*"
sklearn = "*"
keras = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.6"
