{% extends "base.html" %}
{% set title = 'News.ai' %}

{% block content %}

<div id="content" class="home">
	<div class="dialogue">
		<div class="row">
			<div class="logo">
			</div>
		</div>
		<div class="row">
			<h1 class="caption">News.ai
			</h1>
		</div>
<!-- 		<div class="url-input row">
			<div class="input-group mb-3">
			  <input type="text" class="url-input form-control" placeholder="Enter URL" aria-label="Recipient's username" aria-describedby="basic-addon2">
			  <div class="input-group-append">
				<button class="url-btn btn btn-outline-secondary" type="button">Go</button>
			  </div>
			</div>
		</div> -->
	</div>

	<div class="input-group mb-3">
	<input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
	<div class="input-group-append">
		<button class="btn btn-outline-secondary" type="button">Button</button>
	</div>
</div>
{% endblock %}





</body>