{% extends "base.html" %}
    {% block includes %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 	<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> -->

    {% endblock %}
{% set title = 'Trending' %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}


<div id="content" class="trending">

    <section id="container">

    </section>

    <div id="popover-container">

	</div>

</div>


{% endblock %}